# This is your Blockberry API key
BLOCKBERRY_KEY="KEY_HERE"

# This is the delay in ms before making consecutive BLockberry API calls
BLOCKBERRY_DELAY="2000"

# This is the Gemini API key if you want to generate AI summaries
NEXT_PUBLIC_GEMINI_KEY="KEY_HERE"
